!msvc/config.h
*.exe
*.la
*.lo
*.ncb
*.o
*.opt
*.orig
*.patch
*.pc
*.plg
*.suo
*.swp
*.user
*~
.deps
.dirstamp
.libs
Debug
Makefile
Makefile.in
Release
aclocal.m4
autom4te.cache
compile
config.guess
config.h*
config.log
config.status
config.sub
configure
depcomp
doc/html
doxygen.cfg
examples/dpfp
examples/dpfp_threaded
examples/fxload
examples/hotplugtest
examples/listdevs
examples/sam3u_benchmark
examples/xusb
install-sh
libtool
ltmain.sh
m4/
missing
stamp-h1
tests/stress
